{% extends 'base.html' %}
{% load static %}


{% block content %}
<!-- the bootstrap navbar-->
{% load crispy_forms_tags %} 

<nav class="navbar navbar-expand-lg navbar-light "> 
    <a class="navbar-brand" href="#">On my block</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="False" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        {% if user.is_authenticated %}
        
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Welcome, {{user.username}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/addblock">Add your block</a>
          </li>
  
        {% else %}
  
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
  
        {% endif %}
      </ul>
    </div>
  </nav> 
  <div>
    <div class="container-fluid">

        <h6>Know your block </h6>
        <p>We keep you in the know </p>
        please select your block:
        
    
      </div>
    <div class="container">
        {% for i in hoods %}
        <div class="business-btn">
            <button class="btn btn-success">{{i.neighbourhood_name}}</button>
        </div>
        {% endfor %}
    </div>
    <div class="container-fluid">
        {% for i in business %}
        <div class="card">
            <p>{{ i.business_name }}</p>
        </div>
        {% endfor %}
    </div>
    
  </div>
{% endblock%}
